<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Counter</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
    <div class="container">
        <div class="title"><h1>Counter</h1></div>
        <div class="visits"> {{ visits }} </div>
        <div class="main">
            <form action="/click" method="POST">
                <button class="click" type="submit">click</button>
            </form>
            <br>
            <form action="/reset" method="POST">
                <button  class="reset" type="submit">reset</button>
            </form>
        </div>
    </div>
</body>
</html>

