
h1{
    text-align: center;
    color:rgb(111, 111, 206);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 200px;
    
}
.top{
    background-color:brown;
    align-content: center;
    justify-content:space-between ;
    display: flex;
    padding: 15px;
}
.middle{
    background-color: rgb(24, 195, 27);
    justify-content:space-evenly;
    align-content: center;
    display: flex;
    padding: 15px;
}
.buttom{
    background-color:bisque;
    align-content: center;
    justify-content:space-between ;
    display: flex;
    padding: 15px;
}
.git{
    text-align: center;
}
